@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&display=swap');

body{
    font-family: 'Pacifico', cursive;
    background-color: rgb(193, 193, 187);
}
.contact-img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
}